body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #fff;
}

/* TOP BAR */
.top-bar {
  background: #0b3d2e;
  color: white;
  padding: 8px 30px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

/* NAVBAR */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: #0b3d2e;
}

.menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

.menu li {
  cursor: pointer;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.nav-right input:focus {
  padding: 6px;
  border: 2px solid #0b3d2e;
  outline: none;
}

/* HERO */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f7efe8;
  padding: 40px;
  margin: 20px;
  border-radius: 15px;
}

.hero-text h1 {
  font-size: 32px;
  color: #0b3d2e;
}

.hero-text button {
  padding: 12px 25px;
  background: #0b3d2e;
  color: white;
  border: none;
  border-radius: 20px;
}
.hero-text button:hover {
  background: #064d37;
  transform: scale(1.1);
  transition: 0.3s ease;
}

.hero-img img {
  width: 280px;
}

/* FILTERS */
.filters {
  display: flex;
  gap: 10px;
  padding: 20px;
}

.filters button {
  padding: 8px 15px;
  border-radius: 20px;
  border: 1px solid #ccc;
  background: #f1f1f1;
}

/* PRODUCTS */
.title {
  margin-left: 20px;
}

.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
}

.card {
  background: #f9f9f9;
  padding: 15px;
  border-radius: 15px;
  text-align: center;
}

.card img {
  width: 100%;
  height: 160px;
  object-fit: contain;
  margin-bottom: 10px;
}

.card button {
  padding: 8px 15px;
  border-radius: 20px;
  border: none;
  background: #0b3d2e;
  color: white;
}
* {
  transition: all 0.3s ease;
}
/* Navbar menu hover */
.menu li:hover {
  color: #0b3d2e;
  font-weight: bold;
  transition: 0.3s ease;
}

/* Filter buttons hover */
.filters button:hover {
  background: #0b3d2e;
  color: white;
  cursor: pointer;
  transition: 0.3s ease;
}

/* Product card hover */
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transition: 0.3s ease;
}

/* Product button hover */
.card button:hover {
  background: #064d37;
  transition: 0.3s ease;
}
